extends layout

block content
    h1 #{plant.species.common_name}
    h4 
        a(href="../species/" + plant.species.id) #{plant.species.species}
    if plant.species.toxic
        .alert.alert-warning Caution! Toxic to humans and/or pets!
    .row
        form#update(method="POST", action="/plant/" + plant.id)
            .form-group.row.mb-2
                label.form-label.col-sm-2(for="location") Location:
                select#location.form-control.col(type="select", name="location", required)
                    each l in locations
                        if l == plant.location
                            option(value=l, selected='true') #{l}
                        else
                            option #{l}
            .form-group.row.mb-2
                label.form-label.col-sm-2(for="size") Size:
                select#size.form-control.col(type="select", name="size", required)
                    each s in sizes
                        if s == plant.size
                            option(value=s, selected='true') #{s}
                        else
                            option #{s}
            .form-group.row.mb-2
                label.form-label.col-sm-2(for="health") Health:
                select#health.form-control.col(type="select", name="health", required)
                    each h in health
                        if h == plant.health
                            option(value=h, selected='true') #{h}
                        else
                            option #{h}
    .row
        .col
            p You should water this #{plant.species.common_name} roughly every #{plant.species.water_frequency} days.
    .row
        .col
            p Created: #{plant.createdAt.toLocaleString()}
            p Updated: #{plant.updatedAt.toLocaleString()}
    .row.justify-content-around
        .col-1
            button.btn.btn-primary(type="submit", form="update") Update
        .col-1
            button.btn.btn-danger(type='button' data-bs-toggle='modal' data-bs-target='#deleteModal') Delete
            #deleteModal.modal.fade(tabindex='-1')
              .modal-dialog
                .modal-content
                  .modal-header
                    h5#deleteModalLabel.modal-title Delete?
                  .modal-body
                    p Really delete this plant?
                  .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') No
                    form(method="POST", action="/plant/" + plant.id + "/delete")
                        button.btn.btn-primary(type='submit') Delete
