extends layout

block content
    if flash.length > 0
        .alert.alert-info
            span #{flash}
    h2 Add a new plant
    .row
        form(method="POST", action="/plant/create")
            .form-group.row.mb-2
                label.form-label.col-sm-2(for="species") Species:
                select#species.form-control.col(type=select, name="species", required)
                    option(value='')
                    each s in species
                        option(value=s.id) #{s.common_name}
            .form-group.row.mb-2
                label.form-label.col-sm-2(for="location") Location:
                select#location.form-control.col(type=select, name="location", required)
                    option(value='')
                    each l in locations
                        option #{l}
            .form-group.row.mb-2
                label.form-label.col-sm-2(for="size") Size:
                select#size.form-control.col(type=select, name="size", required)
                    option(value='')
                    each s in sizes
                        option #{s}
            .form-group.row.mb-2
                label.form-label.col-sm-2(for="health") Health:
                select#health.form-control.col(type=select, name="health", required)
                    option(value='')
                    each h in health
                        option #{h}
            button.btn.btn-primary(type="submit") Submit
